body {
  margin: 0;
  padding: 0;
  padding-top: 48px;
  text-align: center;
}

.nav {
  padding: 15px;
  position: fixed;
  top: -1px;
  width: 100%;
  background: #d9d2e9;
}

.icon-a {
  position: fixed;
  display: block;
  width: 50px;
  bottom: calc(33% - 50px);
  right: 30px;
  cursor: pointer;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.current {
  color: #2b942b;
}

.icon-a__show {
  display: none;
  top: 100%;
  left: 0;
  text-align: left;
  position: absolute;
}

.icon-a:hover .icon-a__show {
  display: block;
}