body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav {
  padding: 15px;
}

.icon-a {
  position: fixed;
  display: block;
  width: 50px;
  bottom: calc(33% - 50px);
  right: 30px;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}